/*Main Structure*/
.layout {
    position: relative;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;

    background-color: #013459;
  }

.header_container{
    display: flex;
    flex-direction: row;

    height: 10vh;

}

.body_container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    min-width: 100%;
}
.sidebar_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 20%;
    height: 100%;

}
.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 80%;
    height: 100%;

}